* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
}
.container > .row {
  width: 100%;
}
.container > .row:before,
.container > .row:after {
  content: "";
  display: block;
}
.container > .row:after {
  clear: both;
}
.container-fluid {
  width: 735px;
  margin: auto;
}
.container-fluid > .row {
  width: 100%;
}
.container-fluid > .row:before,
.container-fluid > .row:after {
  content: "";
  display: block;
}
.container-fluid > .row:after {
  clear: both;
}
header {
  width: 100%;
  height: 44px;
  margin: auto;
  background: #000;
}
.one {
  background: url("../img/nike_watch_small.jpg");
}
.two {
  background: url("../img/airpods_small.jpg");
}
.three {
  background: url("../img/iphone_upgrade_small.jpg");
}
.four {
  background: url("../img/accessibility_small.jpg");
}
.five {
  width: 325px;
  height: 200px;
  float: left;
}
.banner {
  width: 100%;
  height: 640px;
  background: #000;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.imgbox {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}
.img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.img1 {
  background: url("../img/event_small.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.img2 {
  background: url("../img/iphone_large.jpg") no-repeat;
  background-color: #000;
  background-size: contain;
  background-position: center bottom;
  left: 100%;
}
.img3 {
  background: #fff url("../img/macbookpro_small.jpg") no-repeat;
  background-size: auto;
  background-position: center bottom;
  left: 100%;
}
.daohang {
  display: none;
}
.small {
  display: block;
  width: 100%;
  height: 44px;
  background: #333;
}
.small .option {
  width: 33.333%;
  height: 44px;
  float: left;
  padding: 0 5%;
}
.small .option a {
  display: block;
  float: left;
  width: 44px;
  height: 44px;
}
.caidan {
  width: 100%;
  position: relative;
}
.son {
  display: none;
  width: 100%;
  height: 100%;
  background: #000000;
  padding-left: 50px;
  z-index: 999;
  position: absolute;
  top: 84px;
  left: 0;
}
.menu .son a {
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #666;
  float: left;
  color: #fff;
  text-align: left;
  line-height: 34px;
  font-size: 20px;
  font-family: "微软雅黑";
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}
.menu .son input {
  width: 100%;
  height: 44px;
  border: none;
  border-bottom: 1px solid #666;
  float: left;
  color: #fff;
  text-align: left;
  line-height: 44px;
  font-size: 20px;
  font-family: "微软雅黑";
  background: #000;
}
.line {
  width: 100%;
  height: 47px;
  color: #9E9999;
  font-size: 8px;
  line-height: 17px;
  text-align: left;
  padding: 2% 5%;
}
.line a {
  color: #3C80CC;
  font-size: 8px;
  text-decoration: none;
}
.line a:hover {
  color: #000;
  text-decoration: underline;
}
.foot {
  width: 100%;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
}
.footer {
  display: none;
}
.smallfoot {
  display: block;
  width: 100%;
  height: 480px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.smallfoot .list {
  width: 90%;
  height: 40px;
  float: left;
  margin: auto;
  border-bottom: 1px solid #ccc;
  padding: 0 3%;
  margin: 2% 3%;
}
.smallfoot .list span {
  float: left;
  line-height: 40px;
  display: block;
  width: 100%;
  height: 40px;
  text-align: left;
  color: #666;
}
.smallfoot .list span:hover {
  font-weight: bold;
  color: #666;
}
.word {
  width: 100%;
  display: none;
  margin: auto;
}
.word li {
  width: 100%;
  height: 20px;
  float: left;
}
.word li a {
  width: 100%;
  height: 20px;
  text-align: left;
  float: left;
  line-height: 20px;
  color: #ccc;
  font-size: 10px;
  padding: 0 6%;
}
.word li a:hover {
  color: #666;
  text-decoration: underline;
}
.low {
  width: 100%;
  height: 120px;
  margin: auto;
}
.low p {
  color: #99999E;
  font-size: 12px;
  font-family: "微软雅黑";
  text-align: left;
  line-height: 12px;
  padding: 3% 22%;
}
.low a {
  display: block;
  height: 12px;
  float: left;
  color: #6A7B8D;
  line-height: 12px;
  text-decoration: none;
  font-size: 10px;
  border-right: 1px solid #ccc;
  padding: 0 3%;
  margin-bottom: 1%;
}
.low a:hover {
  text-decoration: underline;
  color: #000;
}
.container > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container-fluid > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container-fluid > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container-fluid > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container-fluid > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container-fluid > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container-fluid > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container-fluid > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container-fluid > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container-fluid > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container-fluid > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container-fluid > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.container-fluid > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.col-s-hide {
  display: none;
}
@media screen and (min-width: 735px) {
  .container {
    width: 100%;
  }
  .container > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-l-hide {
    display: block;
  }
  .col-m-hide {
    display: none;
  }
  .one {
    background: url("../img/nike_watch_medium.jpg");
  }
  .two {
    background: url("../img/airpods_medium.jpg");
  }
  .three {
    background: url("../img/iphone_upgrade_medium.jpg");
  }
  .four {
    background: url("../img/accessibility_medium.jpg");
  }
  .banner {
    width: 100%;
    height: 640px;
    background: #000;
    margin: auto;
    position: relative;
  }
  .imgbox {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
  }
  .img1 {
    background: url("../img/event_medium.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .img2 {
    background: url("../img/iphone_large.jpg") no-repeat;
    background-color: #000;
    background-size: contain;
    background-position: center;
  }
  .img3 {
    background: #fff url("../img/macbookpro_medium.jpg") no-repeat;
    background-size: auto;
    background-position: center bottom;
  }
  .small {
    display: none;
  }
  .daohang {
    display: block;
    width: 100%;
    height: 44px;
    margin: auto;
    padding: 0 12%;
    background: #000;
  }
  .daohang li {
    height: 100%;
    float: left;
    padding: 0 4%;
  }
  .daohang li a {
    color: #fff;
    font-size: 12px;
    line-height: 44px;
    text-align: center;
    font-family: "微软雅黑";
    display: block;
    height: 100%;
  }
  .daohang li:first-child {
    background-image: url("../img/svg+xml.svg");
    background-repeat: no-repeat;
  }
  .daohang li:nth-child(2) {
    display: none;
  }
  .daohang li:nth-last-child(2) {
    background-image: url("../img/svg+xml1.svg");
    background-repeat: no-repeat;
  }
  .daohang li:last-child {
    background-repeat: no-repeat;
    background-image: url("../img/svg+xml2.svg");
  }
  .line {
    height: 47px;
    margin: auto;
    float: left;
    color: #9E9999;
    font-size: 12px;
    line-height: 47px;
    text-align: left;
    padding: 3% 5%;
  }
  .line a {
    color: #3C80CC;
    font-size: 10px;
    text-decoration: none;
  }
  .line a:hover {
    color: #000;
    text-decoration: underline;
  }
  .foot {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: auto;
    margin-top: 0px;
  }
  .smallfoot {
    display: none;
  }
  .footer {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding: 3% 0;
    margin-top: 10%;
  }
  .footer li {
    width: 20%;
    height: 80%;
    float: left;
    font-size: 10px;
    font-family: "微软雅黑";
  }
  .footer li a {
    float: left;
    line-height: 20px;
    display: block;
    width: 100%;
    height: 20px;
    text-align: left;
    color: #848484;
    text-decoration: none;
  }
  .footer li a:hover {
    text-decoration: underline;
    color: #000;
  }
  .footer li h6 {
    color: #000;
  }
  .low {
    width: 100%;
    margin: auto;
  }
  .low p {
    color: #99999E;
    font-size: 12px;
    font-family: "微软雅黑";
    text-align: left;
    line-height: 10px;
    float: left;
    padding: 1% 5%;
  }
  .low a {
    display: block;
    height: 12px;
    float: left;
    color: #6A7B8D;
    line-height: 12px;
    text-decoration: none;
    font-size: 12px;
    border-right: 1px solid #ccc;
    padding: 0 5px;
    margin-top: 1%;
  }
  .low a:hover {
    text-decoration: underline;
    color: #000;
  }
}
@media screen and (min-width: 1075px) {
  .container {
    width: 100%;
  }
  .container > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
  .one {
    background: url("../img/nike_watch_large.jpg");
  }
  .two {
    background: url("../img/airpods_large.jpg");
  }
  .three {
    background: url("../img/iphone_upgrade_large.jpg");
  }
  .four {
    background: url("../img/accessibility_large.jpg");
  }
  .banner {
    width: 100%;
    height: 640px;
    background: #000;
    margin: auto;
    position: relative;
  }
  .imgbox {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
  }
  .img1 {
    background: url("../img/event_large.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .img2 {
    background: url("../img/iphone_large.jpg") no-repeat;
    background-color: #000;
    background-size: contain;
    background-position: center;
  }
  .img3 {
    background: #fff url("../img/macbookpro_large.jpg") no-repeat;
    background-size: contain ;
    background-position: center bottom;
  }
  .small {
    display: none;
  }
  .daohang {
    display: block;
    width: 100%;
    height: 44px;
    margin: auto;
    padding: 0 10%;
    background: #000;
  }
  .daohang li {
    height: 100%;
    float: left;
    padding: 0 4%;
  }
  .daohang li a {
    color: #fff;
    font-size: 12px;
    line-height: 44px;
    text-align: center;
    font-family: "微软雅黑";
    display: block;
    height: 100%;
  }
  .daohang li:first-child {
    background-image: url("../img/svg+xml.svg");
    background-repeat: no-repeat;
  }
  .daohang li:nth-child(2) {
    display: none;
  }
  .daohang li:nth-last-child(2) {
    background-image: url("../img/svg+xml1.svg");
    background-repeat: no-repeat;
  }
  .daohang li:last-child {
    background-repeat: no-repeat;
    background-image: url("../img/svg+xml2.svg");
  }
  .line {
    height: 47px;
    margin: auto;
    float: left;
    color: #9E9999;
    font-size: 12px;
    line-height: 47px;
    text-align: left;
    padding-left: 15%;
  }
  .line a {
    color: #3C80CC;
    font-size: 12px;
    text-decoration: none;
  }
  .line a:hover {
    color: #000;
    text-decoration: underline;
  }
  .footer {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 5% 0;
  }
  .footer li {
    width: 20%;
    height: 100%;
    float: left;
    font-size: 12px;
    font-family: "微软雅黑";
    padding: 0 2%;
  }
  .smallfoot {
    display: none;
  }
  .footer li a {
    float: left;
    line-height: 20px;
    display: block;
    width: 100%;
    height: 20px;
    text-align: left;
    color: #848484;
    text-decoration: none;
  }
  .footer li a:hover {
    text-decoration: underline;
    color: #000;
  }
  .footer li h6 {
    color: #000;
  }
  .low {
    width: 100%;
    height: 70px;
    margin: auto;
  }
  .low p {
    color: #99999E;
    font-size: 12px;
    font-family: "微软雅黑";
    text-align: left;
    line-height: 12px;
    float: left;
    padding: 1% 15%;
  }
  .low a {
    display: block;
    height: 12px;
    float: left;
    color: #6A7B8D;
    line-height: 12px;
    text-decoration: none;
    font-size: 12px;
    border-right: 1px solid #ccc;
    padding: 0 5px;
    margin-top: 1%;
  }
  .low a:hover {
    text-decoration: underline;
    color: #000;
  }
}
